#post > * {
  @apply break-all;
}
#post > * + * {
  @apply mt-6;
}
#post h1 {
  @apply text-2xl;
}
#post > * + h1 {
  @apply mt-16;
}
#post h2 {
  @apply text-xl;
}
#post > * + h2 {
  @apply mt-16;
}
#post h3 {
  @apply text-lg;
}
#post > * + h3 {
  @apply mt-12;
}
#post h4,
#post h5,
#post h6 {
  @apply text-base;
}
#post > * + h4,
#post > * + h5,
#post > * + h6 {
  @apply mt-12;
}
#post p {
  @apply text-base;
}
#post pre {
  @apply p-4;
}
#post pre > code {
  @apply p-0 bg-transparent;
  color: inherit;
}
#post code {
  @apply px-1 bg-neutral-700;
}
#post ul {
  @apply pl-6;
  list-style: disc;
}
#post ol {
  @apply pl-6;
  list-style: decimal;
}
#post li + li {
  @apply mt-2;
}
#post blockquote * {
  @apply pl-4 text-neutral-400 border-l-2 border-neutral-400;
}
#post a {
  @apply text-sky-500 underline underline-offset-2 hover:no-underline;
}
#post hr {
  @apply border-neutral-400;
}
#post .remark-highlight {
  position: relative;
}
#post .remark-highlight > pre[data-language] {
  margin-top: 3rem;
}
#post .remark-highlight > pre[data-language]::before {
  content: attr(data-language);
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  @apply bg-cyan-600 absolute top-0 left-0 text-sm p-1 -translate-y-full;
}
#post .remark-highlight > pre[data-language] {
  border-radius: 0;
}
#post .remark-highlight code {
  @apply inline-block;
}
