---
type Props = {
  title: string;
  date: string;
}
const { title , date } = Astro.props as Props;
const d = new Date(date);
const published = `${d.getFullYear()}.${("00" + (d.getMonth() + 1)).slice(-2)}.${("00" + d.getDate()).slice(-2)}`
---
<header class="px-8">
  <div class="relative flex flex-col justify-center items-center gap-y-2 w-full max-w-4xl min-h-[8rem] mx-auto pt-16 pb-8">
    <a class="absolute top-4 left-0 block w-8 h-8 border-2 border-slate-600 rounded-full bg-gradient-to-br from-sky-300 to-sky-800 indent-[100%] whitespace-nowrap overflow-hidden z-10" href="../../">トップへ戻る</a>
    <h1 class="text-2xl text-center font-bold">{title}</h1>
    <p><time datetime={published}>{published}</time></p>
  </div>
</header>