---
import "@/styles/common.css"
import site from "@/data/site.json"
import PostHeader from "@/components/feature/post/PostHeader.astro"

const { content } = Astro.props;
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{content.title} | {site.siteName}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div data-wrapper="Post" class="grid grid-cols-1 grid-rows-[auto_1fr_auto]">
    <PostHeader title={content.title} date={content.date} />
    <main class="px-8 pb-16 grid grid-cols-1 grid-rows-[1fr_auto]">
      <article id="post" class="max-w-4xl mx-auto w-full">
        <slot />
      </article>
    </main>
    <footer class="px-8">
      <div class="relative w-full max-w-4xl mx-auto flex items-center justify-center h-12">
        <small>© 2022 YEND</small>
      </div>
    </footer>
  </div>
</body>
</html>

<style is:global>
  #post > * + * {
    @apply mt-4;
  }
  #post h1 {
    @apply text-2xl;
  }
  #post > * + h1  {
    @apply mt-16;
  }
  #post h2 {
    @apply text-xl leading-8;
  }
  #post > * + h2  {
    @apply mt-16;
  }
  #post h3 {
    @apply text-lg leading-8;
  }
  #post > * + h3 {
    @apply mt-12;
  }
  #post h4, #post h5, #post h6 {
    @apply text-base leading-8;
  }
  #post > * + h4, #post > * + h5, #post > * + h6 {
    @apply mt-12;
  }
  #post p {
    @apply text-base leading-8;
  }
  #post pre {
    @apply px-4 py-2;
  }
  #post ul {
    @apply pl-6;
    list-style: disc;
  }
  #post ol {
    @apply pl-6;
    list-style: decimal;
  }
  #post blockquote * {
    @apply pl-4 text-neutral-400 border-l-2 border-neutral-400;
  }
  #post a {
    @apply text-sky-500 underline underline-offset-2 hover:no-underline;
  }
  #post hr {
    @apply border-neutral-400;
  }
</style>
